.share-widget > input {
  display: block;

  width: auto;
  max-width: 100%;
  
  padding: 4px 5px;
  border: 1px solid var(--netizen-hint-shadow);
  
  color: var(--netizen-meta);
  background-color: var(--netizen-hint-shadow);
  
  font-size: 0.9em;
}

.share-widget > input::placeholder {
  color: var(--netizen-meta);

  opacity: 0.8;
}

.share-widget > input:focus {
  outline: 1px solid var(--fg-color);
  outline-offset: 2px;
}

.share-widget > .qr-code {
  display: flex;

  align-items: center;
  justify-content: center;
  
  margin-top: 20px;
}

.share-widget__section {
  display: inline-block;
  
  margin-top: 10px;
}