.learning-guide__header {
  position: relative;
  margin: -10px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.learning-guide__header > * {
  margin: 0px 2px;
  text-align: center;
  position: relative;
}

.learning-guide__header > h2 {
  font-size: 49px;
  line-height: 49px;
  font-family: "fira-sans-bold";
}

.learning-guide__header > .bg {
  position: absolute;
  width: 80%;
  height: 80%;
  filter: blur(50px);
  background: linear-gradient(90deg, var(--netizen-tag) 30%, var(--netizen-attribute) 60%, var(--netizen-string) 100%);
  background-size: 200% 100%;
  animation: bg-shift 10s infinite;
}

@keyframes bg-shift {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}


.learning-guide__main {
  position: relative;
  z-index: 2;
}

.learning-guide__main h3 {
  font-family: 'fira-mono-regular', monospace;
  font-size: 31px;
  text-align: center;
  font-weight: lighter;
  margin: 80px 0 20px 0;
  cursor: pointer;
}

.learning-guide__main h3::before {
  content: "";
  position: relative;
  left: 2.3rem;
  transition: left 0.5s;
}

.learning-guide__main h3:hover::before {
  content: "<<";
  left: 0rem;
}

.learning-guide__main h3::after {
  content: "";
  position: relative;
  left: -2.3rem;
  transition: left 0.5s;
}

.learning-guide__main h3:hover::after {
  content: ">>";
  left: 0rem;
}


.learning-guide__ex {
  margin-bottom: 50px;
}

.learning-guide__ex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.learning-guide__ex-start {
  padding: 10px 0 15px;
  border-bottom: 1px solid var(--netizen-meta);
  margin-bottom: 10px;
}

.learning-guide__ex-start b {
  text-transform: uppercase;
  vertical-align: middle;
}

.learning-guide__ex-start span {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

.learning-guide__ex-start button {
  float: right;
  vertical-align: middle;
}

.learning-guide__ex-divider {
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, var(--netizen-number) 0%, var(--netizen-string) 50%, var(--netizen-comment) 100%);
}



.learning-guide__tut {
  margin-bottom: 18px;
}

.learning-guide__tut > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.learning-guide__tut > div:hover .learning-guide__dotted-line {
  width: 170px;
}

.learning-guide__tut > div:hover .learning-guide__dotted-line::after {
  opacity: 1;
}

.learning-guide__dotted-line {
  width: 0px;
  border-top: 3px dotted var(--netizen-atom);
  position: relative;
  transition: width 0.5s;
}

.learning-guide__dotted-line::after {
  opacity: 0;
  content: "➤";
  position: absolute;
  right: -13px;
  top: -12.7px;
  transition: opacity 0.25s;
}

.learning-guide__tut > div > div:nth-child(1) {
  margin: 10px 0;
}

.learning-guide__tut h2 {
  margin: 4px 0;
}

.learning-guide__tut b {
  font-weight: bold;
}

.learning-guide__tut > p {
  /* display: none; */
  /* height: auto; */
  padding: 8px;
  border-top: 1px solid var(--netizen-atom);
  overflow: hidden;
  transition: 1s all;
}


.learning-guide__apx-list3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.learning-guide__apx-list2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* BROWSERFEST BUTTON */
.rainbow-bg {
  background-image: linear-gradient(to right, #ffa50066, #ffff0066, #00800066, #00ffff66, #0000ff66, #ee82ee66) !important;
  background-position-x: 0;
  animation: pan-rainbow 5s infinite;
  animation-timing-function: linear;
}

@keyframes pan-rainbow {
  0% { background-position-x: 0px; }
  100% { background-position-x: 182px; }
}