.code-examples-index--tabs {
  display: flex;
  border-bottom: 1px solid var(--netizen-tag);
  margin-bottom: 30px;
}

.code-examples-index--tabs > b {
  border: 1px solid var(--fg-color);
  border-radius: 8px 8px 0 0;
  border-bottom: none;
  padding: 4px 20px;
  background: var(--bg-color);
  color: var(--fg-color);
  cursor: pointer;
}

.code-examples-index--tabs > b.ce--sel {
  background: var(--fg-color);
  color: var(--bg-color);
}

/* ---- */

.code-examples-search nav {
  display: flex;
  align-items: center;
}

.code-examples-search nav > * {
 margin-right: 20px;
}

.code-examples-search ul {
  max-height: 254px;
  overflow: scroll;
}

.code-examples-search  .ce--hide {
 display: none;
}

.code-examples-search .ce--tags {
 margin-bottom: 4px;
}

.code-examples-search .ce--tags > span {
 font-size: 10px;
 font-weight: bold;
 padding: 4px 8px;
 border-radius: 4px;
 background: var(--netizen-meta);
 color: var(--netizen-comment);
 margin: 0 2px;
 cursor: pointer;
}

/* ---- */

.code-examples-curated {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: -24px;
}

.ce--link {
  border-bottom: 1px solid var(--netizen-meta);
  text-shadow: -2px 2px var(--bg-color), 0px 2px var(--bg-color), -1px 2px var(--bg-color), 1px 1px var(--bg-color);
}

.ce--edit, .ce--prev {
  position: relative;
  color: var(--netizen-meta);
  text-decoration: none;
  transition: color .5s ease, border .5s ease;
  line-height: 28px;
  /*underline*/
  border-bottom: 1px solid var(--netizen-meta);
  text-shadow: -2px 2px var(--bg-color), 0px 2px var(--bg-color), -1px 2px var(--bg-color), 1px 1px var(--bg-color);
  display: inline-block;
  margin-right: 4px;
}

.ce--link:hover, .ce--edit:hover, .ce--prev:hover {
  color: var(--netizen-match-color);
  border-bottom: none;
  cursor: pointer;
}

.ce--link:active, .ce--edit:active, .ce--prev:active {
  color: var(--netizen-attribute);
}
