node_modules/
package-lock.json
**/.DS_Store
.env

data/shortened-urls.json
data/analytics/*.sqlite
data/analytics/*.json
data/bug-reports
data/feedback-reports

# ignoring large media files
data/videos/*

data/videos/*
!www/videos/screen-saver.mp4
!www/videos/screen-saver.ogv
!www/videos/screen-saver.webm

data/browserfest-submissions.json
data/browserfest-thumbnails/*
!data/browserfest-thumbnails/.gitkeep

# ignoring tutorial data for now, to avoid bloating things up
www/tutorials/*
!www/tutorials/list.json

# ignoring local temp gh user data
data/temp-gh-user-data/*
!data/temp-gh-user-data/.git-keep

# ignoring submodules
www/core/netitor
www/core/netnet-standard-library
