node_modules/
package-lock.json
**/.DS_Store
.env

data/shortened-urls.json
data/analytics/*.sqlite
data/analytics/*.json
data/bug-reports
data/feedback-reports

# ignoring large media files
data/videos/*

data/videos/*
!www/videos/screen-saver.mp4
!www/videos/screen-saver.ogv
!www/videos/screen-saver.webm

# ignoring tutorial data for now, to avoid bloating things up
www/tutorials/*
!www/tutorials/list.json

# ignoring videos in docs (should be uploaded separately)
docs/images/*.mp4

# ignoring local temp gh user data
data/temp-gh-user-data/*
!data/temp-gh-user-data/.git-keep

# ignoring submodules
# www/core/netitor
# www/core/netnet-standard-library

# local audit/refactor scratchpads (not project history)
**/AUDIT.md

# ignoring custom widget made for announcement video
www/widgets/intro-vid

# ignoring local dev utility widget (for testing)
www/widgets/dev-shortcuts
