[submodule "www/core/netnet-standard-library"]
	path = www/core/netnet-standard-library
	url = https://github.com/netizenorg/netnet-standard-library
[submodule "www/core/netitor"]
	path = www/core/netitor
	url = https://github.com/netizenorg/netitor.git
