.proj-files {
  height: 100%;
}

.proj-files * {
  user-select: none;
}

.proj-files__ctx {
  font-family: 'fira-mono-regular', monospace;
}

.proj-files__ctx > div {
  padding: 2px;
}

.proj-files__ctx > div:hover {
  background-color: var(--bg-color);
  color: var(--netizen-meta);
  cursor: pointer;
}

.proj-files__header {
  display: flex;
  justify-content: flex-end;
}

.git-btn {
  border: 1px solid var(--netizen-meta);
  padding: 3px 8px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: -30px;
  opacity: 0.25;
  cursor: pointer;
}

.git-btn.changes {
  opacity: 1
}

.proj-files__tree-view {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

/* The list style < modified from: https://codepen.io/asraven/pen/qbrgje
-------------------------------------------------------------- */

.proj-files__tree-view li {
  list-style: none;
  color: var(--netizen-meta);
  font-size: 17px;
  font-weight: normal;
}

.proj-files__tree-view li:hover {
  cursor: pointer;
}

/* when a new file is created but it's still empty */
.proj-files__tree-view li.empty {
  opacity: 0.5
}

.proj-files__tree-view li.empty::after {
  content: " (empty file)";
  font-style: italic;
}

/* .proj-files__tree-view li.rendering {
  border: 1px solid var(--netizen-meta);
  border-radius: 6px;
  border-style: dashed;
} */

.proj-files__tree-view li.rendering::after {
  content: " rendering";
  opacity: 0.5;
  font-style: italic;
  /* float: right; */
}

.proj-files__tree-view ul {
  margin-left: 10px;
  border-left: 1px dashed var(--netizen-meta);
  border-bottom: 1px solid transparent;
  padding-left: 20px;
  color: var(--netizen-meta);
  text-decoration: none;
  transition: all 0.2s ease;
  overflow: hidden;
}

.proj-files__tree-view ul:not(.active) {
  display: none;
}

.proj-files__tree-view .folder {
  color: var(--netizen-meta);
  font-weight: bold;
}

.proj-files__tree-view li:before {
  margin-right: 10px;
  content: "";
  height: 20px;
  vertical-align: middle;
  width: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  /* background styles dynamically generated in widget's _createHTML() method */
}

.proj-files__tree-view [data-unsaved]:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--netizen-number);
  transform: translateX(5px);
}

.proj-files__tree-view li.folder:before {
  /* background styles dynamically generated in widget's _createHTML() method */
}
