.files-widget {
  max-width: 450px;
}

.files-widget__list {
  position: relative;
  max-height: 300px;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  border-radius: 5px;
  overflow: scroll;
}

.files-widget__file {
  position: relative;
  margin: 0;
  border-radius: 0px;
  padding: 3px 34px 2px 6px;
  color: var(--bg-color);
  overflow: hidden;
}
.files-widget__file:nth-of-type(even)::after {
  content: '';
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: var(--netizen-meta);
  opacity: 0.87;
  z-index: 0;
}
.files-widget__file:nth-of-type(odd)::after {
  content: '';
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: var(--netizen-meta);
  opacity: 1;
  z-index: 0;
}

.files-widget__file:hover .files-widget__del {
  opacity: 1;
  z-index: 1;
  pointer-events: all;
}
.files-widget__del:hover svg {
  opacity: 1;
}

.files-widget__name {
  position: relative;
  z-index: 1;
  cursor: default;
}

.files-widget__del {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);

  width: 23px;
  height: 23px;

  padding: 0 4px;
  opacity: 0;
  pointer-events: none;
}

.files-widget__del svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.6;
  transition: opacity .5 ease;
}

.files-widget__del svg g {
  fill: var(--bg-color);
}

.files-widget--pointer {
  cursor: pointer;
}
