.code-slider {
  /* TODO width property/attribute maybe */
  position: relative;
  width: 255px;
}

.code-slider__bubble {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--netizen-meta);
  transform: translate(-8px, -4px);
  position: relative;
  left: 127px;
  background: #fff;
}

.code-slider__label {
  position: absolute;
  left: 0px;
  top: 30px;
  font-size: 10px;
  margin-top: 0 !important;
}

.code-slider__range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--netizen-meta);
  background: var(--netizen-meta);
}

.code-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: 24px;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--netizen-meta);
}

.code-slider__range::-moz-range-thumb {
  width: 6px;
  height: 24px;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--netizen-meta);
}

.code-slider__num {
  color: var(--netizen-meta);
  transform: translate(-14px, 3px);
  text-align: center;
  position: relative;
  width: 27px;
  left: 127px;
  margin-top: 0 !important;
}