.code-review {
  max-height: 66vh;
  margin-top: 20px;
  padding-right: 5px;
  overflow-y: scroll;
  /* display: flex; */
}

.code-review__tabs {
  border-bottom: 1px solid var(--netizen-meta);
  margin-bottom: 10px;
  margin-top: 2px
}

.code-review__tab {
  border: 1px solid var(--netizen-meta);
  border-bottom: none;
  padding: 4px;
  cursor: pointer;
  margin-right: 4px;
  display: inline-block;
}

.code-review__issue {
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  margin-bottom: 5px;

  color: var(--bg-color);

  font-family: "fira-code", inconsolata, monospace;
  cursor: pointer;
}

.code-review__issue > div {
  padding: 5px;
}

.code-review__issue__head {
  display: flex;

  justify-content: space-between;

  border-bottom: 1px solid var(--bg-color);
  border-radius: 5px 5px 0 0;

  font-family: "fira-sans-regular", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.code-review__issue__head__link {
  text-decoration: underline;
}
