.code-review {
  max-height: 66vh;

  overflow-y: scroll;
}
.code-review__issue {
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  margin-bottom: 5px;

  color: var(--bg-color);
  
  font-family: "fira-code", inconsolata, monospace;
  cursor: pointer;
}

.code-review__issue > div {
  padding: 5px;
}

.code-review__issue__head {
  display: flex;
  
  justify-content: space-between;

  border-bottom: 1px solid var(--bg-color);
  border-radius: 5px 5px 0 0;

  font-family: "fira-sans-regular", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.code-review__issue__head__link {
  text-decoration: underline;
}
