/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•* */
/* base widget box */

.widget {
  position: absolute;
  min-width: 200px;
  min-height: 150px;
  color: var(--bg-color);
  background-color: transparent;
  padding: 0 15px 15px;
  border: 1px solid var(--netizen-meta);
  border-radius: 15px;
  overflow: hidden;
}

.widget:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  opacity: 0.95;
  pointer-events: none;
  z-index:0;
}


/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•* */
/* default styles for widget dialog box top */

.widget__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
  max-height: 1.2em;
  min-width: 100px;
/*  padding-left: 5px;*/
  margin: 12px 0 9px;
}

.widget__top:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: var(--netizen-meta);
}

.widget__top__title {
  display: inline-block;
  position: relative;
  width: 100%;
  cursor: default;
  pointer-events: none;
  overflow: hidden;
}

.widget__top__title__txt {
  display: inline-block;
  white-space: nowrap;
}

.widget__top__title--marquee {
  -webkit-mask-image: linear-gradient(to left, transparent 2%, black 13%);
  mask-image: linear-gradient(to left, transparent 2%, black 13%);
}

.widget__top__title--marquee .widget__top__title__txt {
  transform: translate3d(0, 0, 0);
  animation: 15s marquee linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  25% {
    transform: translate3d(0%, 0, 0);
  }
  65% {
    transform: translate3d(-100%, 0, 0);
  }
  65.0001% {
    transform: translate3d(90%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}

.widget__top .close {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-bottom: 0.2em;
  cursor: pointer;
  vertical-align: middle;

  /*just making this invisible for rn*/
  color: var(--netizen-meta);
}

.widget__top .close:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 4px;
  border-radius: 15px;
  background-color: var(--bg-color);
  opacity: 1;
  transform: translateY(-50%) rotate(45deg);
}

.widget__top .close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 4px;
  border-radius: 15px;
  background-color: var(--bg-color);
  opacity: 1;
  transform: translateY(-50%) rotate(-45deg);
}

.widget__top .star { /* this might be safe to delete? */
  position: relative;
  top: -3px;
  margin-right: 5px;
  cursor: pointer;
}


/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•* */
/* default styles for common elements in widget content */

.widget__inner-html {
  position: relative;
  padding: 20px 0 0;
  color: var(--netizen-meta);
  font-size: 16px;
  line-height: 1.45em;
}

.widget__inner-html section div,
.widget__inner-html p {
  margin-top: 13px;
  margin-bottom: 0;
}

.widget__inner-html section div:first-of-type,
.widget__inner-html p:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
}


/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•* */
/* styles sahred by references widgets && <widget-slide> custom element used in em */

.reference-widget {
  display: block;
  width: 600px;
  max-height: 400px;
  overflow-y: auto;
  padding: 0px 15px 0px 25px;
  scrollbar-color: var(--netizen-meta) rgba(0,0,0,0);
  scrollbar-width: thin;
}

.reference-widget--slide {
  display: none;
  opacity: 0;
  transition: opacity var(--menu-fades-time) var(--sarah-ease);
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding-top: 24px;
}

.reference-widget--nav {
  width: 660px;
  padding: 4px;
  position: absolute;
  top: 0;
  left: -15px;
  z-index: 20;
  padding: 4px 30px;
  display: flex;
  justify-content: space-between;
  background: var(--fg-color);
  color: var(--bg-color);
}

.reference-widget--nav span {
  cursor: pointer;
}

.reference-widget--list-heading {
  font-size: 24px;
  text-transform: uppercase;
  margin: 20px 0px;
}

.reference-widget--list-item {
  cursor: pointer;
  font-family: "fira-code", inconsolata, monospace;
}

/* copied from prior text-bubble styles */

.reference-widget > .reference-widget--slide {
  margin: 0;
}
.reference-widget > .reference-widget--slide p {
  margin: 0;
}

.reference-widget > .reference-widget--slide code {
  position: relative;
  top: -0.1em;
  padding: .1em 0.3em 0.2em;
  border-radius: 6px;
  color: var(--bg-color);
  background-color: var(--fg-color);
  font-family: "fira-code", inconsolata, monospace;
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 700;
  cursor: text;
}
.reference-widget > .reference-widget--slide input {
  display: block;
  width: auto;
  max-width: 100%;
  padding: 4px 5px;
  border: 1px solid var(--netizen-hint-shadow);
  background-color: var(--netizen-hint-shadow);
  color: var(--netizen-meta);
  font-size: 0.9em;
}
.reference-widget > .reference-widget--slide input::placeholder {
  color: var(--netizen-meta);
  opacity: 0.8;
}
.reference-widget > .reference-widget--slide input:focus {
  outline: 1px solid var(--fg-color);
  outline-offset: 2px;
}

.reference-widget > .reference-widget--slide a code {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
  transition: color var(--element-transition-time) ease;
  text-shadow: none;
}
.reference-widget > .reference-widget--slide a:hover code {
  color: var(--netizen-match-color);
}
