:root {
  --netizen-text: #e7e5c9;
  --netizen-background: #1c1c3600;
  --netizen-meta: #c3c3db;
  --netizen-tag: #c76ebc;
  --netizen-tag-bracket: #c3c3db;
  --netizen-attribute: #81c994;
  --netizen-qualifier: #81c994;
  --netizen-comment: #515199;
  --netizen-variable: #d5805e;
  --netizen-variable-2: #82ccd7;
  --netizen-variable-3: #c3c3db;
  --netizen-variable-callee: #82ccd7;
  --netizen-def: #c3c3db;
  --netizen-builtin: #81c994;
  --netizen-property: #c3c3db;
  --netizen-keyword: #81c994;
  --netizen-string: #82ccd7;
  --netizen-string-2: #82ccd7;
  --netizen-number: #E6DB6F;
  --netizen-atom: #c3c3db;
  --netizen-operator: #c76ebc;
  --netizen-line-numbers: #9885a6;
  --netizen-active-line-bg: #c3c3db;
  --netizen-selected: #c8c8fa19;
  --netizen-match-color: #e7e5c9;
  --netizen-match-border: #515199;
  --netizen-hint-color: #1c1c36;
  --netizen-hint-bg: #dacb8e;
  --netizen-hint-shadow: #515199BF;
  --fg-color: #c76ebc;
  --bg-color: #1c1c36;

  /* tutorial maker custom */
  --error-red: #FF4545;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--bg-color);
}


nav {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-color);
  padding: 10px;
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

/* ~ ~  ~ ~ ~ ~  ~ ~ ~ ~  ~ ~ ~ ~  ~ ~  Overlay Panels ~ ~  ~ ~ ~ ~  ~ ~ */

.overlay {
  position: fixed;
  z-index: 100;
  background: var(--bg-color);
  inset: 0;
  padding: 20px;
  overflow-y: auto;
}

.overlay > button {
  color: var(--bg-color);
  background: var(--netizen-meta);
  border-color: var(--bg-color);
}

.overlay button:hover {
  background: var(--netizen-text);
}

#tut-mkr-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 105;
  width: 100vw;
  height: 100vh;
  background-color: rgba(14, 14, 30, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

#tut-mkr-modal .tut-mkr-modal-content {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: 30px;
  border-radius: 10px;
  background: var(--bg-color);
  color: var(--netizen-meta);
  text-align: center;
  box-shadow: 0px 4px 9.4px 6px rgba(0, 0, 0, 0.25);
}

#tut-mkr-modal .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
}

#tut-mkr-modal a {
  color: var(--netizen-tag);
  transition: ease-in-out .1s;
}
#tut-mkr-modal a:hover {
  color: var(--netizen-attribute);
}

#tut-mkr-modal p.warning {
  color: var(--error-red);
  font-size: 0.8rem;
}
