:root {
  --netizen-text: #e7e5c9;
  --netizen-background: #1c1c3600;
  --netizen-meta: #c3c3db;
  --netizen-tag: #c76ebc;
  --netizen-tag-bracket: #c3c3db;
  --netizen-attribute: #81c994;
  --netizen-qualifier: #81c994;
  --netizen-comment: #515199;
  --netizen-variable: #d5805e;
  --netizen-variable-2: #82ccd7;
  --netizen-variable-3: #c3c3db;
  --netizen-variable-callee: #82ccd7;
  --netizen-def: #c3c3db;
  --netizen-builtin: #81c994;
  --netizen-property: #c3c3db;
  --netizen-keyword: #81c994;
  --netizen-string: #82ccd7;
  --netizen-string-2: #82ccd7;
  --netizen-number: #E6DB6F;
  --netizen-atom: #c3c3db;
  --netizen-operator: #c76ebc;
  --netizen-line-numbers: #9885a6;
  --netizen-active-line-bg: #c3c3db;
  --netizen-selected: #c8c8fa19;
  --netizen-match-color: #e7e5c9;
  --netizen-match-border: #515199;
  --netizen-hint-color: #1c1c36;
  --netizen-hint-bg: #dacb8e;
  --netizen-hint-shadow: #515199BF;
  --fg-color: #c76ebc;
  --bg-color: #1c1c36;

  /* tutorial maker custom */
  --error-red: #FF4545;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--bg-color);
}


nav {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-color);
  padding: 10px;
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

nav > div > div {
  display: flex;
  align-items: center;
  gap: 7px;
}

.keyframe-tools {
  flex-grow: 1;
}
.tutorial-tools {
  flex: 0;
}

.tut-mkr-input-dark {
  border: 1px solid var(--netizen-meta);
  background: var(--bg-color);
  color: var(--netizen-meta);
  padding: 2.5px 10px;
  font-weight: 600;
  border-radius: 7px;
  max-width: 320px;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.tut-mkr-input-dark::-webkit-scrollbar {
  display: none;
}
.tut-mkr-input-dark:empty:before {
    content: attr(data-placeholder);
    color: var(--netizen-hint-shadow);
    pointer-events: none;
}

#create-marker {
  aspect-ratio: 1/1;
  padding: 5px;
}
#create-marker svg {
  transition: 0.2s ease-in-out transform;
}

#create-options {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  top: 32;
  left: 0;
}
#create-options button {
  text-align: left;
}
#create-options .icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: fit-content;
}
#create-options .icon-btn > svg {
  width: 18px;
  height: 18px;
}

/* ~ ~  ~ ~ ~ ~  ~ ~ ~ ~  ~ ~ ~ ~  ~ ~  Overlay Panels ~ ~  ~ ~ ~ ~  ~ ~ */

.overlay {
  position: fixed;
  z-index: 100;
  background: var(--bg-color);
  inset: 0;
  padding: 20px;
  overflow-y: auto;
}

.overlay > button {
  color: var(--bg-color);
  background: var(--netizen-meta);
  border-color: var(--bg-color);
}

.overlay button:hover {
  background: var(--netizen-text);
}

#tut-mkr-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 105;
  width: 100vw;
  height: 100vh;
  background-color: rgba(14, 14, 30, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

#tut-mkr-modal .tut-mkr-modal-content {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: 30px;
  border-radius: 10px;
  background: var(--bg-color);
  color: var(--netizen-meta);
  text-align: center;
  box-shadow: 0px 4px 9.4px 6px rgba(0, 0, 0, 0.25);
}

#tut-mkr-modal .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
}

#tut-mkr-modal a {
  color: var(--netizen-tag);
  transition: ease-in-out .1s;
}
#tut-mkr-modal a:hover {
  color: var(--netizen-attribute);
}

#tut-mkr-modal p.warning {
  color: var(--error-red);
  font-size: 0.8rem;
}

.pill-btn--red:hover {
  background: var(--error-red);
  border-color: var(--error-red);
}

/* styles for custom modal */
.custom-modal {
  width: 100vw;
  height: 100vh;
  background: rgba(28, 28, 54, 0.69);
  z-index: 110;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal-inner {
  background: var(--bg-color);
  border: 3px solid var(--netizen-meta);
  border-radius: 10px;
  height: fit-content;
  padding: 15px;
  color: var(--netizen-meta);
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
}
.custom-modal-inner.warning {
  border-color: var(--error-red);
}

/* styles for spotlight dropdown menu */
.dd-styles {
  background: var(--bg-color);
  border: 1px solid var(--netizen-meta);
  border-radius: 9px;
  padding: 10px;
  width: 100%;
}
.dd-edit {
  padding-top: 4px;
  cursor: pointer;
  height: 32px;
  position: relative;
}
.dd-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.dd-title > p {
  color: var(--netizen-meta);
  font-weight: 700;
  margin: auto 0;
}
.dd-edit-menu {
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 36;
  left: 0;
}
.sptlght-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 6px;
}
.dd-edit-menu > div > div,
.dd-edit-menu > div,
.sptlght-footer > div {
  display: flex;
  gap: 6px;
}
.hrztl-line {
  height: 3px;
  border-radius: 15px;
  background: var(--netizen-comment);
}

.tut-mkr-input-light {
  background: var(--netizen-meta);
  border: 2px solid #9999BE;
  border-radius: 7px;
  font-weight: 700;
  margin: auto 0;
  padding: 4px 10px;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tut-mkr-input-light:empty:before {
    content: attr(data-placeholder);
    color: var(--netizen-hint-shadow);
    pointer-events: none;
}
.spot-tag {
  background: var(--netizen-tag);
  color: var(--bg-color);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 7px;
  border-radius: 7px;
  width: fit-content;
}
.spot-tag p {
  font-size: 1.188rem;
  line-height: 1.188rem;
  font-weight: 700;
  margin: 0;
}
.spot-tag .vrtl-line {
  height: 19px;
  background-color: #AA4C9F;
  width: 3px;
}
.spot-tag svg {
  padding-bottom: 1px;
  cursor: pointer;
}

/* footer css */
footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--bg-color);
  padding: 10px;
  display: flex;
  gap: 7px;
}
#widget-dd {
  max-width: 330px;
}
#widget-dd .dd-edit-menu-flip {
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 0;
  bottom: 36;
  max-height: 155px;
  overflow-y: scroll;
}
.widget {
  display: flex;
  justify-content: space-between;
}
.widget > div {
  display: flex;
  gap: 7px;
  align-items: center;
}
.widget p {
  color: var(--netizen-meta);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 3px;
  font-size: 1.1rem;
}
.widget-options hr {
  border: solid 1px var(--netizen-comment);
}

/* widget maker css */
#widget-maker > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}
#widget-maker p {
  color: var(--netizen-meta);
  font-size: 1.1rem;
  font-weight: 700;
}
.widget-maker-inputs,
.widget-maker-inputs > div {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.widget-maker-inputs .tut-mkr-input-dark {
  flex-grow: 1;
  max-width: none;
}
#widget-maker-html {
  border-radius: 15px;
  border: 2px solid var(--fg-color);
  padding: 10px;
  flex-grow: 1;
}
#widget-maker-html > * {
  border-radius: 12px;
}
.widget-maker-bottom {
  display: flex;
  justify-content: space-between;
  flex: 0;
}

#upload > p {
  color: var(--netizen-meta);
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.uploaded-assets {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 6px 0;
}

.upl-asset {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  width: 100%;
  background: var(--netizen-meta);
  padding: 6px 9px;
  border-radius: 6px;
}
.upl-asset svg {
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.upl-asset svg:hover path {
  stroke: #FF4545;
}
