.gradient-widget__title {
  cursor: pointer;
}
.gradient-widget__description {
  margin-bottom: 20px;
}
.gradient-widget__description .dropdown {
  vertical-align: middle;
}
.gradient-widget__description span {
  vertical-align: middle;
}
