<!DOCTYPE html>
<html lang="en-US">
  <head>

    <title>Your Page Title</title>
    <meta name="author" content="Your Name">
    <meta name="description" content="What's this page about?">
    <link rel="icon" href="images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>

    <main>
      <h1>My Landing Page</h1>
      <p>
        Welcome to my landing page! Find me at the links below.
      </p>
    </main>

    <!--   bottom social links -->
    <nav>
      <a href="mailto:nick@netizen.org">
        <img src="images/gmail.svg" alt="email icon">
      </a>
      <a href="https://discord.com/" target="_blank">
        <img src="images/discord.svg" alt="discord icon">
      </a>
      <a href="https://www.instagram.com/nbriz/" target="_blank">
        <img src="images/instagram.svg" alt="instagram icon">
      </a>
      <a href="https://www.youtube.com/nickbriz" target="_blank">
        <img src="images/youtube.svg" alt="youtbe icon">
      </a>
    </nav>

  </body>
</html>
