<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- your metadata goes here in the "head" -->
    <title>Your Page Title</title>
    <meta name="author" content="Your Name">
    <meta name="description" content="What's this page about?">
    <link rel="icon" href="images/favicon.png">

    <!-- metadata for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" href="images/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!-- "open graph" metadata for social media posts -->
    <meta property="og:title" content="Your Page Title">
    <meta property="og:description" content="What's this page about?">
    <meta property="og:image" content="https://website.com/images/splash.png">
    <meta property="og:url" content="https://website.com">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <!-- you page's content goes here in the body -->
    <h1 id="main-title">Links &amp; Contact</h1>

    <p>
      Welcome to my landing page! Take a look at my recent projects and interests below, and feel free to follow and connect with me using the social links at the bottom.
    </p>

    <nav>
      <a class="boxy-link" href="https://en.wikipedia.org/wiki/World_Wide_Web">
        working on this
      </a>
      <a class="boxy-link" href="https://en.wikipedia.org/wiki/Internet">
        really into this
      </a>
    </nav>

    <footer>
      <a href="mailto:nick@netizen.org">
        <img src="images/gmail.png" alt="email icon">
      </a>
      <a href="https://github.com/nbriz/">
        <img src="images/github.png" alt="github icon">
      </a>
      <a href="https://www.instagram.com/nbriz/">
        <img src="images/instagram.png" alt="instagram icon">
      </a>
      <a href="https://www.youtube.com/nickbriz">
        <img src="images/youtube.png" alt="youtbe icon">
      </a>
    </footer>

  </body>
</html>
