/* vars */

:root {
  --fg-color: #fff;
  --bg-color: #000;
  --layout-transition-time: 1s;
  --menu-fades-time: 500ms;
  --element-transition-time: 300ms;
  --sarah-ease: cubic-bezier(0.165, 0.84, 0.44, 1);
}


/* globals */

body,
html,
input,
button {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "fira-sans-regular", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1.45em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: hidden;
}

* { 
  box-sizing: border-box;
}

*::-moz-selection {
  color: var(--bg-color);
  background-color: var(--fg-color);
}

*::selection {
  color: var(--bg-color);
  background-color: var(--fg-color);
}

button,
input {
  appearance: none;
  outline: none;
}

code {
  font-family: "fira-mono-regular", inconsolata, monospace;
}

code::-moz-selection {
  color: var(--fg-color);
  background-color: var(--bg-color);
}

code::selection {
  color: var(--fg-color);
  background-color: var(--bg-color);
}

