/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•* */
/* general text styles */

.body-copy,
p,
span {
	font-size: 16px;
	line-height: 1.45em;
}

b {
	font-weight: 700;
}

i {
	font-style: italic;
}

.hdr-lg {
  font-family: "fira-sans-regular", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  font-weight: 400;
}

.hdr-md {
	font-family: "fira-sans-regular", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 20px;
	line-height: 1.2em;
  letter-spacing: -0.02em;
  font-weight: 400;
}

/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•* */
/* stylized text styles */

/* highlight skew */
.hdr-highlight {
	display: inline-block;
  position: relative;
  width: auto;
  margin-bottom: 12px;
  color: var(--fg-color);
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 400;
  transform: skew(0);
  transition: color .2s ease;
  z-index: 1;
}

.hdr-highlight:before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: -2px;

  width: 100%;
  height: 95%;

  padding: 0px 2px;

  background-color: var(--netizen-hint-shadow);

  z-index: -1;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform var(--element-transition-time) cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hdr-highlight:after {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  right: -4px;

  width: 2px;
  height: 95%;

  background-color: var(--netizen-meta);

  animation: hdrCursorBlink 1.5s infinite linear;
  transition: right var(--element-transition-time) cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hdr-highlight:hover {
  color: var(--fg-color);
  transform: skew(-5deg);
  cursor: pointer;
}

.hdr-highlight:hover:before {
  transform: scaleX(1);
}

.hdr-highlight:hover:after {
  right: calc(100% + 2px);
}

.hdr-highlight > code {
  display: inline-block;
  position: relative;
  width: auto;
  color: var(--fg-color);
  text-decoration: none;
  transition: color .2s ease;
  /* resets */
  top: auto;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 1.2em;
  cursor: pointer;
}

.hdr-highlight > a {
  display: inline-block;
  position: relative;
  width: auto;
  color: var(--fg-color);
  text-decoration: none;
  transition: color .2s ease;

  /* resets */
  background: transparent;
  border-bottom: none;
  padding-bottom: 0;
  text-shadow: none;
}

.hdr-highlight > a:after {
  display: none;
}

.hdr-highlight > a:hover code {
  color: inherit;
}

.hdr-highlight > a:hover {
  /* resets */
  color: inherit;
  border-bottom: none;
  background-image: none;
}

.hdr-highlight:hover > a {
  color: var(--fg-color);
}

@keyframes hdrCursorBlink {
  0% { opacity: 0; }
  25% { opacity: 0; }
  26% { opacity: 1; }
  75% { opacity: 1; }
  76% { opacity: 0; }
  100% { opacity: 0; }
}