/* keyframes */

@keyframes bounce {
  0% { transform: translateY(0); }
  30% { transform: translateY(-8px); }
  50% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

@keyframes spring-up {
  0% { transform: translateY(0); }
  30% { transform: translateY(-8px); }
  90% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}

@keyframes bgshift {
  0% { background: var(--netizen-tag); }
  25% { background: var(--netizen-attribute); }
  50% { background: var(--netizen-text); }
  75% { background: var(--netizen-meta); }
  100% { background: var(--netizen-tag); }
}


/* utils */

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}


/* misc */

/* screen reader text cc: https://css-tricks.com/inclusively-hidden */
.screen-reader-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* BROWSERFEST BUTTON */
.opt-rainbow-bg {
  background-image: linear-gradient(to right, #ffa50066, #ffff0066, #00800066, #00ffff66, #0000ff66, #ee82ee66) !important;
  background-position-x: 0;
  animation: opt-pan-rainbow 5s infinite;
  animation-timing-function: linear;
}

@keyframes opt-pan-rainbow {
  0% { background-position-x: 0px; }
  100% { background-position-x: 182px; }
}