:root {
  --netizen-text: #e7e5c9;
  --netizen-background: #1c1c3600;
  --netizen-meta: #c3c3db;
  --netizen-tag: #c76ebc;
  --netizen-tag-bracket: #c3c3db;
  --netizen-attribute: #81c994;
  --netizen-qualifier: #81c994;
  --netizen-comment: #515199;
  --netizen-variable: #d5805e;
  --netizen-variable-2: #82ccd7;
  --netizen-variable-3: #c3c3db;
  --netizen-variable-callee: #82ccd7;
  --netizen-def: #c3c3db;
  --netizen-builtin: #81c994;
  --netizen-property: #c3c3db;
  --netizen-keyword: #81c994;
  --netizen-string: #82ccd7;
  --netizen-string-2: #82ccd7;
  --netizen-number: #E6DB6F;
  --netizen-atom: #c3c3db;
  --netizen-operator: #c76ebc;
  --netizen-line-numbers: #9885a6;
  --netizen-active-line-bg: #c3c3db;
  --netizen-selected: #c8c8fa19;
  --netizen-match-color: #e7e5c9;
  --netizen-match-border: #515199;
  --netizen-hint-color: #1c1c36;
  --netizen-hint-bg: #dacb8e;
  --netizen-hint-shadow: #515199BF;
  --fg-color: #c76ebc;
  --bg-color: #1c1c36;
  --black: var(--netizen-hint-color);

  --doc-padding: 20px;
}

html,
body {
  padding: 0px;
  margin: 0;
  overflow-x: hidden;
}


/*
 * inline link overwrites
 * focus styles
 */
.inline-link,
p > a:not(.pill-btn):not(.highlight),
strong > a:not(.pill-btn):not(.highlight),
div > a:not(.pill-btn):not(.highlight),
.text-bubble-content > a:not(.pill-btn):not(.highlight) {
  color: var(--netizen-hint-color);

  text-shadow: none;
}

.inline-link:hover,
p > a:not(.pill-btn):not(.highlight):hover,
strong > a:not(.pill-btn):not(.highlight):hover,
div > a:not(.pill-btn):not(.highlight):hover,
.text-bubble-content > a:not(.pill-btn):not(.highlight):hover {
  color: var(--netizen-comment);
}

.docs__panel a:focus-visible,
.docs__panel button:focus-visible {
  outline: 1px solid var(--netizen-def);
  outline-offset: 3px;
}


.docs {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, var(--netizen-def) 80%, var(--netizen-comment) 160%);

  padding: 0;

  display: grid;
  grid-template-columns: 0.35fr 1fr;

  @media (max-width: 768px) {
      display: block;
  }
}


/*
 * docs panel
 */
.docs__panel {
  display: block;
  position: relative;

  min-width: 300px;
  max-width: 430px;
  height: calc(100vh - calc(var(--doc-padding) * 2));

	padding: var(--doc-padding);
  margin-top: var(--doc-padding);
  margin-left: var(--doc-padding);
	border-radius: 25px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow: 0 0 14px 0 #c3c3db6e;

	color: var(--netizen-def);
	background-color: var(--netizen-hint-color);

	z-index: 2;

	overflow-y: auto;
}

/* .docs__panel__section {
	display: block;
  position: sticky;
  top: 0;
	margin: calc(var(--doc-padding) * 2) 0;
} */


/*
 * docs panel > intro
 */
.docs__panel__intro {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
  align-items: baseline;

  padding: 0 0 calc(var(--doc-padding) * 0.75);
	border-bottom: 1px solid var(--netizen-def);
	margin: 0;
}

.docs__panel__intro a {
  position: relative;

	margin: 0;

  color: var(--netizen-def);

  font-family: 'fira-mono-regular', monospace;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px var(--bg-color);

  transition: text-shadow 0.3s ease;
}

.docs__panel__intro a:hover {
  text-shadow: rgba(230, 219, 111, 0.6) -1px -1px 6px, rgba(195, 195, 219, 0.6) 1px 1px 6px;
}

.docs__panel__intro .ver {
  font-family: 'fira-mono-regular', monospace;
  font-size: 14px;
  line-height: 1.2em;

  opacity: 0.8;
}


/*
 * docs panel > search
 */
.docs__panel__search {
  position: relative;

  width: 100%;

  margin: calc(var(--doc-padding) * 0.75) 0 0;
  padding: 5px 0;

  cursor: pointer;
}

.docs__panel__search:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--netizen-comment);
  border-radius: 8px;

  opacity: 0.2;

  transition: opacity .3s ease;
}

.docs__panel__search .search-btn {
  display: block;

  width: 100%;
  height: 35px;

  padding: 0;
  border: none;
  margin: 0;

  background: none;

  outline: none;
  box-shadow: none;
}

.docs__panel__search .search-icon {
  display: block;
  position: relative;

  width: 30px;
  height: 30px;
  object-fit: contain;
  object-position: 0% 50%;

  margin-left: 5px;
  padding: 5px;

  text-align: center;

  filter: invert(1);
  opacity: 0.5;

  pointer-events: none;

  transition: opacity var(--element-transition-time) ease-in-out;
}

.docs__panel__search .search-input {
  display: block;
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding-left: 40px;
  border: none;

  color: var(--netizen-def);
  background: transparent;

  font-family: 'fira-mono-regular', monospace;
  text-align: left;

  opacity: 0.5;
  cursor: pointer;

  transition: opacity var(--element-transition-time) ease-in-out;
}

.docs__panel__search .search-input:placeholder {
  color: var(--netizen-def);
  font-family: 'fira-mono-regular', monospace;
  font-style: italic;
}

.docs__panel__search:hover .search-input,
.search-input:focus {
  opacity: 1;
}

.docs__panel__search:hover .search-icon,
.docs__panel__search:focus-within .search-icon {
  opacity: 0.75;
}

.docs__panel__search:hover:before,
.docs__panel__search:focus-within:before {
  opacity: 0.35;
}


/*
 * docs panel > list
 */
.docs__panel > .docs__panel__list {
  margin: var(--doc-padding) 0;
}

.docs__panel > .docs__panel__list > .docs__panel__list-item {
  margin: 0 0 16px;
}

.docs__panel__list {
	list-style: none;
	padding: 0 0 0 var(--doc-padding);
}

.docs__panel__list-item {
  margin: 8px 0;
}

.docs__panel__list-item a {
	position: relative;

  color: var(--netizen-def);

  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.docs__panel__list-item a:before {
  content: '*';
	position: absolute;
  top: 2px;
	left: -20px;

  font-size: 22px;
  font-family: 'fira-mono-regular', monospace;

  transition: transform 0.5s var(--sarah-ease);
}

.docs__panel__list-item a:hover {
  color: var(--netizen-text);
}

.docs__panel__list-item a:hover:before,
.docs__panel__list-item a.active:before {
  transform: rotate(60deg);
}

.docs__panel__list-item a.active {
  color: var(--netizen-text);
  text-decoration: underline;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}

.docs__panel__list-item a.hide {
  display: none;
}

.docs__panel__list-item > .docs__panel__list {
  padding-left: 0;
  margin-top: 10px;
}

.docs__panel__list-item > .docs__panel__list a:before {
  content: '';
  display: none;
}


/*
 * docs panel mobile
 */

@media (max-width: 768px) {
  .docs__panel {
    width: 100%;
    max-width: 100%;
    height: auto;

    margin: 0;
    border-radius: 0;

    .docs__panel__search,
    .docs__panel__list {
      display: none;
    }
  }
}


/*
 * docs viewer
 */
.docs__viewer {
  display: block;
  position: relative;

  padding: calc(var(--doc-padding) * 2.5) var(--doc-padding);

	overflow-y: auto;

	height: 100vh;
  width: 100%;
}

.docs__viewer-inner {
  margin: 0 auto;
  max-width: 800px;
}

.docs__viewer-inner > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

.docs__viewer-inner img {
  max-width: 100%;
}

.docs__viewer-inner h1,
.docs__viewer-inner h2,
.docs__viewer-inner h3,
.docs__viewer-inner h4,
.docs__viewer-inner h5 {
  font-weight: 300;
  margin: 1.75em 0 .75em;
}

.docs__viewer-inner h1 {
  font-size: 38px;
  line-height: 1.1em;
}

.docs__viewer-inner h2 {
  font-size: 30px;
  line-height: 1.05em;
}

.docs__viewer-inner h3 {
  font-size: 24px;
}

.docs__viewer-inner h4 {
  font-size: 20px;
  font-weight: 700;
}

.docs__viewer-inner ul {
  padding-left: calc(var(--doc-padding) * 2);
}

.docs__viewer-inner ul li {
  position: relative;

  margin: 5px;
  margin: 0.5em 0;

  list-style: none;
}

.docs__viewer-inner ul li:before {
  content: '*';
	position: absolute;
  top: 0;
	left: -20px;

  font-size: 22px;
  font-family: 'fira-mono-regular', monospace;
}

.docs__viewer-inner ul a,
.docs__viewer-inner ol a {
  color: var(--netizen-hint-color);
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;

  text-shadow: none;

  transition: color var(--element-transition-time) ease, border var(--element-transition-time) ease;
}

.docs__viewer-inner ul a:hover,
.docs__viewer-inner ol a:hover {
  color: var(--netizen-comment);
}

.docs__viewer-inner h1 a,
.docs__viewer-inner h2 a,
.docs__viewer-inner h3 a,
.docs__viewer-inner h4 a,
.docs__viewer-inner h5 a {
  color: var(--netizen-hint-color);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;

  transition: color var(--element-transition-time) ease, border var(--element-transition-time) ease;
}

.docs__viewer-inner h1 a:hover,
.docs__viewer-inner h2 a:hover,
.docs__viewer-inner h3 a:hover,
.docs__viewer-inner h4 a:hover,
.docs__viewer-inner h5 a:hover {
  color: var(--netizen-comment);
}

.docs__viewer-inner hr {
  width: 100%;
  height: 1px;

  margin-top: 20px;
  border: none;

  background: linear-gradient(90deg, var(--bg-color) 0%, var(--netizen-comment) 50%, var(--netizen-comment) 100%);
}

/*
  @Sarah, feel free to edit these or move them around
  (only put it down here to avoid merge conflicts)
*/

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.docs__viewer-inner pre {
  position: relative;
}

.docs__viewer-inner pre .copy-code {
  position: absolute;
  right: -22px;
}

.docs__viewer-inner pre .copy-code svg {
  cursor: pointer;
  opacity: 0.5;
}

.docs__viewer-inner pre .copy-code svg:hover {
  opacity: 1;
}

/*
  We can totally style these buttons differently,
  i just really want them to POP! on the homepage
  important for these to stand out!
*/
#donate-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#donate-links a {
  margin: 10px;
  border: 3px solid var(--bg-color);
  border-radius: 68px;
  padding: 20px 40px;
  background: rgba(255,255,255,0.3);

  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: var(--bg-color);
  cursor: pointer;
}

#donate-links a:hover {
  background: var(--fg-color);
  color: #fff;
  border-color: #fff;
}
