#search-bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100vw;
  height: 100vh;
  transition: opacity .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#search-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

#search-bar > section {
  position: relative;
  width: 75vw;
  max-width: 780px;
  margin: 25vh auto;
}

#search-bar > section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 17px;

  background-color: var(--bg-color);

  opacity: 0.9;
}

#search-bar > section > span {
  display: block;
  position: relative;
  width: 100%;
  height: 51px;
  border-radius: 17px;
  opacity: 1;
  z-index: 500;
}

#search-bar > section > span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 17px;
  border: 1px solid var(--netizen-meta);

  background-color: var(--bg-color);

  opacity: 0.6;
}

#search-bar > section > span:after {
  content: '◕ ◞ ◕ ';
  display: block;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  color: var(--netizen-meta);
  font-size: 25px;

  opacity: 0.9;
}

#search-bar > section > span > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 51px;
  padding: 1vw 1vw 1vw 87px;
  border: none;
  border-radius: 17px;
  color: var(--netizen-meta);
  background-color: transparent;
  font-size: 25px;
  filter: contrast(10) brightness(1);
}

#search-bar > section > span > input::placeholder {
  color: var(--netizen-meta);

  opacity: 0.4;
}

#search-bar > section > span > input:focus {
  outline: 0;
  box-shadow: 0 2px 15px rgba(0,0,0,0.3);
}

#search-results {
  position: relative;
  height: auto;
  max-height: 500px;
  margin: 0;
  color: var(--netizen-meta);
  overflow: scroll;
}

#search-results > div {
  position: relative;
  padding: 20px;
  cursor: pointer;
  font-size: 17px;
}

#search-results > div:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--netizen-hint-shadow);
  opacity: 0;
}
#search-results > div:last-of-type:before {
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}
#search-results > div:hover:before {
  opacity: 0.25;
}
#search-results > div.selected:before {
  opacity: 0.4;
}
#search-results > div.selected:hover:before {
  opacity: 0.4;
}
#search-results > div:focus {
  outline: 0;
  box-shadow: none;
}
#search-results > div:focus:before {
  opacity: 0.4;
}

#search-results i {
  font-family: monospace;
  font-weight: 700;
  font-size: 15px;
  filter: saturate(1.2);
}

#search-results i.w-results {
  color: var(--netizen-variable);
}

#search-results i.t-results {
  color: var(--netizen-operator);
}

#search-results i.f-results {
  color: var(--netizen-string);
}

#search-results i.e-results {
  /* eventual edu results */
  color: var(--netizen-number);
}
