#search-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100vw;
  height: 100vh;
}

#search-bar > section {
  position: relative;
  width: 75vw;
  max-width: 780px;
  margin: 25vh auto;
}

#search-bar > section:after {
  content: '◕ ◞ ◕ ';
  display: block;
  position: absolute;
  color: var(--netizen-meta);
  left: 15px;
  top: 8px;

  font-size: 25px;

  opacity: 0.8;
}

#search-bar > section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 17px;

  background-color: var(--bg-color);

  opacity: 0.8;
}

#search-bar > section > input {
  position: relative;
  width: 100%;
  max-height: 51px;
  padding: 1vw 1vw 1vw 87px;
  border: 1px solid var(--netizen-meta);
  border-radius: 17px;
  color: white;
  background-color: transparent;
  font-size: 2vw;
  opacity: 0.8;
}

#search-bar > section > input::placeholder {
  color: var(--netizen-meta);

  opacity: 0.55;
}

#search-bar > section > input:focus {
  outline: 0;
  box-shadow: 0 2px 15px rgba(0,0,0,0.3);
}

#search-results {
  position: relative;

  margin: 0;

  color: var(--netizen-meta);
}

#search-results > div {
  cursor: pointer;
  padding: 20px;
}

#search-results > div.selected {
  color: var(--netizen-meta);
  background-color: var(--netizen-hint-shadow);
}
#search-results > div:last-of-type.selected {
  color: var(--netizen-meta);
  background-color: var(--netizen-hint-shadow);
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

#search-results i {
  font-family: monospace;
  font-weight: 700;
  font-size: 15px;
}

#search-results i.w-results {
  color: var(--netizen-variable);
}

#search-results i.t-results {
  color: var(--netizen-operator);
}

#search-results i.f-results {
  color: var(--netizen-keyword);
}

#search-results i.e-results {
  /* i think there was gonna be a fourth item for edu results? */
  /* can't remember exactly but i'm writing this in just in case */
  color: var(--netizen-number);
}
