:root {
  --fg-color: #fff;
  --bg-color: #000;
  --layout-transition-time: 1s;
  --menu-fades-time: 500ms;
}

* { box-sizing: border-box; }

body {
  box-sizing: border-box;
  padding: 0; margin: 0;
  font-family: "better-serif", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#netnet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -30;
}

#nn-output {
  position: absolute;
  z-index: -20;
}

#nn-output > iframe {
  /* HACK: at 100% it creates scrollbars for some reason */
  height: 99.7% !important;
}

#nn-window {
  position: absolute;
  min-width: 300px;
  min-height: 200px;
  border: 4px solid var(--fg-color);
  background-color: rgba(0, 0, 0, 0);
}

#nn-window > #nn-bg-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -10;
}

#nn-window > #nn-menu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 15px 15px 5px 5px;
  color: var(--fg-color);
}

#nn-window > #nn-menu > #face  {
  cursor: pointer;
  transition: font-size var(--layout-transition-time);
}

#nn-window > #nn-menu > #face > span {
  display: inline-block;
  transform-origin: center;
  padding: 0px 2px 0px 5px;
}

#nn-window > #nn-editor {
  overflow-y: scroll;
  height: calc(100% - 60px);
  scrollbar-width: none;
  scrollbar-color: var(--fg-color) rgba(0,0,0,0);
}


/* styles for text bubble */
.text-bubble {
  width: 340px;
  color: var(--netizen-meta);
  background-color: var(--bg-color);
  padding: 14px;
  border-radius: 15px;
  border: 4px solid var(--fg-color);
}

.text-bubble > section > *:first-of-type {
  margin-top: 0;
}

/* styles for all text inside text bubble */
.text-bubble > section {
  margin: 0;
  font-size: 16px;
  line-height: 1.45em;
}
.text-bubble > section p {
  margin: 0;
  font-size: 16px;
  line-height: 1.45em;
}

.text-bubble > section code {
  position: relative;
  top: -0.1em;
  padding: .1em 0.3em 0.2em;
  border-radius: 6px;
  /*border: 1px solid var(--fg-color);
  color: var(--netizen-match-color);
  background-color: var(--netizen-hint-shadow);*/
  color: var(--bg-color);
  background-color: var(--fg-color);
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 700;
  cursor: text;
}
.text-bubble > section b {
  font-weight: 700;
}
.text-bubble > section i {
  font-style: italic;
}
.text-bubble > section a {
  position: relative;
  color: var(--fg-color);
  text-decoration: none;
  transition: color .5s ease;
}
.text-bubble > section a:after {
  content: '';
  position: absolute;
  left: 2px;
  bottom: -1px;

  width: calc(100% - 4px);
  height: 1px;

  background-color: var(--fg-color);

  transition: background-color .5s ease;
}
.text-bubble > section a:hover {
  color: var(--netizen-match-color);
}
.text-bubble > section a:hover:after {
  background-color: var(--netizen-match-color);
}
.text-bubble > section a:active {
  color: var(--netizen-attribute);
}
.text-bubble > section a:active:after {
  background-color: var(--netizen-attribute);
}


/* styles for all possible text bubble h1s/headers */
.text-bubble > section h1 {
  display: inline-block;
  position: relative;
  width: auto;
  margin-bottom: 12px;
  color: var(--fg-color);
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 400;
  transform: skew(0);
  transition: color .2s ease;
  z-index: 1;
}

.text-bubble > section h1 a {
  display: inline-block;
  position: relative;
  width: auto;
  color: var(--fg-color);
  text-decoration: none;
  transition: color .2s ease;
}

.text-bubble > section h1 a:after {
  display: none;
}

.text-bubble > section h1 code {
  display: inline-block;
  position: relative;
  width: auto;
  color: var(--fg-color);
  text-decoration: none;
  transition: color .2s ease;
  /* resets */
  top: auto;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 1.2em;
  cursor: pointer;
}

.text-bubble > section h1:before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: -2px;

  width: 100%;
  height: 95%;
  
  padding: 0px 2px;

  background-color: var(--netizen-hint-shadow);

  z-index: -1;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.text-bubble > section h1:after {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  right: -4px;

  width: 2px;
  height: 95%;

  background-color: var(--fg-color);
  background-color: #ffffff;

  animation: blink 1.5s infinite steps(1);
  transition: right .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.text-bubble > section h1:hover {
  color: var(--fg-color);
  transform: skew(-5deg);
}
.text-bubble > section h1:hover a {
  color: var(--fg-color);
}
.text-bubble > section h1:hover:before {
  transform: scaleX(1);
}
.text-bubble > section h1:hover:after {
  right: calc(100% + 2px);
}


/* styles for text bubble buttons */
.text-bubble > .text-bubble-options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-top: 12px;
  margin-bottom: 2px;
  margin-right: 2px;
}
.text-bubble > .text-bubble-options > button {
  position: relative;
  
  border: none;
  border-radius: 25px;
  padding: 5px 15px;

  color: var(--bg-color);
  background: var(--fg-color);
  
  font-size: 14px;
  font-weight: 700;
  text-shadow: none;

  box-shadow: 0 0 2px 0 transparent;

  cursor: pointer;

  transition: all .5s ease;
}
.text-bubble > .text-bubble-options > button:not(:last-of-type) {
  margin-right: 10px;
}

.text-bubble > .text-bubble-options > button:after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;

  border: 0;
  border-radius: 25px;
}

.text-bubble > .text-bubble-options > button:hover {
  box-shadow: 0 0 8px 0 var(--fg-color);
}

.text-bubble > .text-bubble-options > button:focus {
  outline: none;
  box-shadow: none;
}
.text-bubble > .text-bubble-options > button:focus:after {
  border: 1px solid #ffffff;
  outline: none;
  box-shadow: none;
}


/* styles for text bubble arrow */
.text-bubble-triangle {
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 15px solid var(--fg-color);
  z-index: 1;
}

.text-bubble-triangle:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 11px solid var(--bg-color);
  z-index: 2;
}

.widget {
  position: absolute;
  min-width: 200px;
  min-height: 150px;
  color: var(--fg-color);
  background-color: var(--bg-color);
  padding: 15px;
  border: 4px solid var(--fg-color);
  border-radius: 15px;
}

.widget > .w-top-bar {
  min-width: 100px;
  margin-bottom: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.widget > .w-top-bar > .close {
  margin-left: 40px;
}
