.widget {
  position: absolute;
  min-width: 200px;
  min-height: 150px;
  color: var(--fg-color);
  background-color: var(--bg-color);
  padding: 15px;
  border: 4px solid var(--fg-color);
  border-radius: 15px;
}

.widget > .w-top-bar {
  cursor: grab;
  min-width: 100px;
  margin-bottom: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.widget > .w-top-bar > span:nth-child(1) {
  cursor: default;
}

.widget > .w-top-bar .close {
  cursor: pointer;
}

.widget > .w-top-bar .star {
  cursor: pointer;
}
